<template>
  <div id="footer" >
    <footer class="container">
      <div class="logo">
        <img src="~/static/images/logo.svg" alt="" />
      </div>
      <div class="text">
        <div class="location">
          <h1 class="place">
            Cамарканд, ул. Амира <br />
            Тимура 224
          </h1>
        </div>
        <div class="info">
          <h1 class="_title_big">+998 99 111-11-99</h1>
          <div class="social">
            <ul class="_list">
              <li>
                Telegram
                <img src="~/static/images/arrow-up-right.svg" alt="" />
              </li>
              <li>
                Facebook
                <img src="~/static/images/arrow-up-right.svg" alt="" />
              </li>
              <li>
                Instagram
                <img src="~/static/images/arrow-up-right.svg" alt="" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>