<template>
  <div id="header">
    <header class="container">
      <img src="~/static/images/logo.svg" alt="" />
      <ul class="_list">
        <li>Услуги</li>
        <li>Специалисты</li>
        <li>Проекты</li>
        <li>Контакты</li>
      </ul>
      <button class="_btn _white">Стать клиентом/сделать заказ</button>
    </header>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>