<template>
  <div class="main_block">
    <div class="about _blue_bg">
      <main class="container">
        <div class="text">
          <h1 class="_title_big">Соберите свой пакет IT и Digital-решений</h1>
          <p>
            Web разработка. Маркетинг. Дизайн и 3D моделирование. Аутсорс. MVP
            под ключ. Инкубатор.
          </p>
          <div class="buttons">
            <button class="_btn _white">Заполнить бриф</button>
            <div>
              <p>Есть вопросы? Бесплатная консультация</p>
              <img src="~/static/images/arrow-right.svg" alt="arrow" />
            </div>
          </div>
        </div>
        <div class="img"><img src="~/static/images/table.png" alt="" /></div>
      </main>
    </div>
    <div class="_grey_bg company">
      <p class="_blue">примеры нескольких компаний, с которым мы работаем</p>
      <div class="companys">
        <img src="~/static/images/get.png" alt="" />
        <img src="~/static/images/avito.png" alt="" />
        <img src="~/static/images/Crello.png" alt="" />
        <img src="~/static/images/ehrma.png" alt="" />
        <img src="~/static/images/pepsico.png" alt="" />
        <img src="~/static/images/skoltech.png" alt="" />
        <img src="~/static/images/KFC.png" alt="" />
        <img src="~/static/images/техни.png" alt="" />
      </div>
      <div class="grad">
        <div class="gra_left"></div>
        <div class="gra_right"></div>
      </div>
    </div>
    <div class="container">
      <div class="problems _main_heading">
        <h1>Решаем следующие проблемы</h1>
        <div class="carousel">
          <ul>
            <li>их мамку шатал кто-нибудь напишите нам сайт пожалыста</li>
            <li>
              мы заказали дизайн у другой компании, но они какие-то хуеглоты
            </li>
            <li>
              мы не можем найти нормальных специалистов, по городу все или
              слишком дорого или пидорасы
            </li>
            <li>их мамку шатал кто-нибудь напишите нам сайт пожалыста</li>
            <li>по городу все или слишком дорого или пидорасы</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="skills _blue_bg">
      <div class="content container">
        <div class="top_head">
          <div class="left_cont">
            <h3>Что мы умеем?</h3>
            <h2>
              Cоздаем решения, которые определяют и изменяют мир вокруг нас
              прямо здесь и сейчаc
            </h2>
          </div>
          <div class="right_cont">
            <img src="~/static/images/logo_mini.svg" alt="" />
          </div>
        </div>
        <div class="_line"></div>
        <div class="bottom_block _main_heading">
          <ul>
            <li>
              <h1>Разработка</h1>
              <div class="dis">
                <li>Разработка веб-сайтов</li>
                <li>Разработка мобильных приложений</li>
                <li>Разработка телеграмм ботов</li>
                <li>Аналитика бизнеса</li>
                <li>Кибербезопасность</li>
                <li>Техническая поддержка стартапов</li>
              </div>
            </li>
            <li>
              <h1>Маркетинг</h1>
              <div class="dis">
                <li>Контекстная реклама</li>
                <li>Таргетинговая реклама</li>
                <li>SMM</li>
                <li>Фото-видео съемка</li>
                <li>Моушн дизайн</li>
                <li>Обработка видео</li>
              </div>
            </li>
            <li>
              <h1>Дизайн</h1>
              <div class="dis">
                <li>Графический дизайн</li>
                <li>Брендинг</li>
                <li>Web дизайн</li>
                <li>Дизайн интерьера</li>
                <li>Дизайн экстерьера</li>
                <li>3D видеоролики</li>
              </div>
            </li>
            <li>
              <h1>3D Графика</h1>
              <div class="dis">
                <li>Графический дизайн</li>
                <li>Брендинг</li>
                <li>Web дизайн</li>
                <li>Дизайн интерьера</li>
                <li>Дизайн экстерьера</li>
                <li>3D видеоролики</li>
              </div>
            </li>
          </ul>
          <button class="_btn _white">Бесплатная консультация</button>
        </div>
      </div>
    </div>
    <div class="portfolio container">
      <main class="_main_heading">
        <h1 class="h1">Портофолио проектов</h1>
        <div class="wrapper">
          <div class="item" v-for="item of 8" :key="item">
            <div class="img"></div>
            <div class="dis">Vitobox — Healthy Lifestyle</div>
          </div>
        </div>
        <div class="about_comp _main_heading">
          <div class="img"></div>
          <div class="dis">
            <h1>О компании</h1>
            <p>
              Madad — digital-продакшн полного цикла, с собственной продуктовой
              аналитикой, дизайном, веб- и мобильной разработкой.
            </p>
          </div>
        </div>
        <div class="fill">
          <ul>
            <li>
              <h1>1. Заполнить бриф</h1>
              <div class="dis">
                Оставьте заявку, рассказав нам о своем деле, чтобы мы могли
                узнать проблему и решить ее
              </div>
            </li>
            <li>
              <h1>2. Перезвоним в течение суток</h1>
              <div class="dis">
                Оставьте заявку, рассказав нам о своем деле, чтобы мы могли
                узнать проблему и решить ее
              </div>
            </li>
            <li>
              <h1>3. Начало работ</h1>
              <div class="dis">
                Оставьте заявку, рассказав нам о своем деле, чтобы мы могли
                узнать проблему и решить ее
              </div>
            </li>
          </ul>
        </div>
      </main>
    </div>
    <div class="form _grey_bg">
      <main class="container">
        <h1>Бесплатная консультация</h1>
        <p>Оставьте заявку и мы свяжемся с Вами в течение суток</p>
        <form>
          <input type="text" placeholder="Имя и фамилия">
          <input type="text" placeholder="Название фирмы">
          <input type="text" placeholder="Комментарий">
          <button class="_btn _blue">Отправить</button>
        </form>
      </main>
    </div>
    <div class="teachers">
      
    </div>
  </div>
</template>

<script>
import "static/css/homepage.css";
export default {
  name: "homepage",
};
</script>
