.main_block {
    margin-top: 40px;

    .about {
        padding: 160px 0;
        main {
            display: flex;
            justify-content: space-between;
        }
        .text {
            display: flex;
            flex-direction: column;
            grid-gap: 30px;
            h1 {
                max-width: 817px;
            }
            p {
                max-width: 615px;
            }
            .buttons {
                display: flex;
                align-items: center;
                div {
                    display: flex;
                    align-items: flex-end;
                    p {
                        position: relative;
                        margin: 0 9px 0 28px;
                        &::before {
                            position: absolute;
                            content: "";
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 1.5px;
                            background-color: white;
                        }
                    }
                }
            }
        }
        .img {
            margin-right: -10px;
        }
    }
    .company {
        padding: 50px 0;
        text-align: center;
        p {
            margin-bottom: 40px;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
        }
        .companys {
            display: flex;
            height: 45px;
            justify-content: space-between;
            position: relative;
        }
        .grad {
            div {
                width: 238px;
                height: 119px;
                position: absolute;
                bottom: -50px;
            }
            .gra_left {
                background: linear-gradient(90deg, #f3f5f8 0%, rgba(243, 245, 248, 0) 82.77%);
                left: 0;
            }
            .gra_right {
                right: 0;
                background: linear-gradient(90deg, #f3f5f8 0%, rgba(243, 245, 248, 0) 82.77%);
                transform: rotate(-180deg);
            }
        }
    }
    .problems {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: hsl(236, 97%, 14%);
        .carousel {
            margin-top: 30px;
            ul {
                text-align: center;
                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    text-transform: uppercase;
                    list-style: none;
                    height: 58px;
                    &:last-child::before {
                        height: 0;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 837px;
                        bottom: 0;
                        background-color: #d9d9d9;
                        height: 1px;
                    }
                    &:first-child,
                    &:last-child {
                        color: rgba(1, 5, 68, 0.15);
                    }
                    &:nth-child(2n + 2) {
                        color: rgba(1, 5, 68, 0.4);
                    }
                }
            }
        }
    }
    .skills {
        padding: 65px;
        .container {
            .top_head {
                display: flex;
                justify-content: space-between;
                h3 {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                }
                h2 {
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 39px;
                    margin-top: 21px;
                    max-width: 662px;
                }
            }
            ._line {
                height: 1px;
                margin-top: 31px;
                background-color: #d9d9d9;
            }
            .bottom_block {
                margin-bottom: 0;
                align-items: center;
                h1 {
                    font-weight: 600;
                    font-size: 34px;
                    line-height: 42px;
                }
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        .dis {
                            margin-top: 21px;
                            color: #9698b7;
                            font-weight: 600;
                            font-size: 22px;
                            line-height: 167.95%;
                        }
                        list-style: none;
                    }
                }
                button {
                    margin-top: 31px;
                }
            }
        }
    }
    .portfolio {
        .h1 {
            font-weight: 600;
            font-size: 32px;
            text-align: center;
        }
        .wrapper {
            display: grid;
            margin-top: 30px;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 42px 24px;
            grid-auto-rows: 375px;
            .item {
                .img {
                    height: 332px;
                    background: #010544;
                }
                .dis {
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 27px;
                    color: #010544;
                    margin-top: 16px;
                }
                &:nth-child(1) {
                    grid-column-start: 1;
                    grid-column-end: 4;
                }
                &:nth-child(3) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                &:nth-child(4) {
                    grid-column-start: 3;
                    grid-column-end: 5;
                }
            }
        }
        .about_comp {
            display: flex;
            align-items: center;
            .img {
                margin-right: 54px;
                width: 689px;
                height: 391px;
                background: #010544;
            }
            .dis {
                h1 {
                    text-align: left;
                }
                max-width: 496px;
                p {
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 32px;
                    margin-top: 15px;
                    color: #9698b7;
                }
            }
        }
        .fill {
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    max-width: 401px;
                    h1 {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 29px;
                        color: #010544;
                    }
                    .dis {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        margin-top: 14px;
                        color: #9698b7;
                    }
                }
            }
        }
    }
    .form {
        .container {
            padding: 65px 0;
            h1 {
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
                color: #010544;
            }
            p {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #9698b7;
            }
            form {
                margin-top: 23px;
                input {
                    width: 330px;
                    height: 45px;
                    background: #ffffff;
                    border: 1px solid #d9d9d9;
                    border-radius: 11px;
                    padding-left: 21px;
                    &::placeholder {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: black;
                    }
                }
            }
        }
    }
}
