@font-face {
    font-family: "Gilroy";
    src: url("static/fonts/Gilroy-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("static/fonts/Gilroy-RegularItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Gilroy";
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

._grey_bg {
    background: #f3f5f8;
}
._blue_bg {
    background: #010544;
    color: white;
}

._main_heading {
    margin: 74px 0;
}

._title_big {
    font-weight: 600;
    font-size: 73px;
}
._p,
p {
    font-weight: 600;
    font-size: 22px;
    ._blue {
        color: #010544;
    }
    ._grey {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #9698b7;
    }
}

._btn {
    border-radius: 11px;
    padding: 13px 18px;
    border: 2px solid #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    &:hover {
        cursor: pointer;
    }
    &._white {
        background-color: white;
        color: #010544;
    }
    &._blue {
        background: #2250f4;
        color: #ffffff;
    }
}

._list {
    display: flex;
    li {
        list-style: none;
        margin: 0 14px;
        font-size: 18px;
    }
}

#header {
    background-color: #010544;
    color: white;
    position: fixed;
    left: 0;
    padding: 40px 0;
    right: 0;
    z-index: 100;
    top: 0;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#footer {
    background-color: #010544;
    color: white;
    padding: 66px 0;
    footer {
        .text {
            display: flex;
            justify-content: space-between;
            margin-top: 95px;
            h1 {
                font-size: 56px;
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                .social {
                    grid-gap: 32px;
                    li {
                        &:last-child {
                            margin-right: 0;
                        }
                        img {
                            margin-left: 7px;
                        }
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}
